#logo{
    width: 100px;
    height: 50px;
}
.top-banner{

   background-image: linear-gradient(to bottom,#F0FFF0 0%, #F0FFF0 100%);

}
.btn-dg{
    max-width: 150px;
    border-radius: 33px;
    border: none;
    background:#21B573 ;
    color: #FFFFFF;
    
}
#getstart{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    
}


body{
font-family: Poppins;
font-style: normal

}
.container{
    margin-bottom: 100px;
}
#h-image{
    width: 50%;
}
#t1{
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: red;


}
#t2{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}
#t2 span{
    color: seagreen;
}
#t3{
    font-size: 16px;
    font-weight:400px;
    line-height: 36px;
    color:#6C6B6B ;
}
#img-ils{
    
    height: 346px;
    width: 500px;
    
    margin-bottom: 70px;
    
    
}
.i-img{
    width: 66px;
    height: 85px;  
}
.i-box{
    width: 270px;
    height: 270px;
    background:#F8FFFB ;
    border-radius: 10px;
    
    margin: 10px;
    
    
}
.i-box:hover{
    background: #ffffff ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.h1t{
   
    font-size: 24px; 
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #413960;
}
.h2t{
   
    font-size: 16px; 
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: #585859;
}
.card img{
    width: 90%;
    padding-top: 10px;
   
    
}

.card{
    
    border-radius: 30px;
    border: none;
        
}
.card h5{
    color: #6C6B6B;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.card p{
    color: #6C6B6B;
    font-weight: none;
    font-size: 16px;
    line-height: 24px;
}

.card-footer{
    border: none;
    background: #FFFFFF;
    
}
#man-img{
    width: 120px;
    height: 120px;
}

.testm h3{
    width: 219px;
    height: 54px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

}
.testm div{
    margin-top: 30px;
}

footer .row{
    background: #0d0d0e;
    color: #F0FFF0;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-decoration: none;
}
footer .row p{
    
    width: 400px;
    margin-left: 50px;
    padding-top: 70px;
    
}



